<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
</head>
<body>
<?php require_once 'header.phtml'; ?>
<main>
    <div class="container" style="padding-top: 60px;">
        <?php
        if (isset($errorMessage)) {
            echo "<h1>$errorMessage</h1>";
        } else if (isset($history)) {
            /** @var  \Blog\Domain\History $history */
            ?>
            <form id="editHistory" class="mb-5">
                <div class="col-12 mb-3">
                    <label for="textHistory">Ваша история</label>
                    <textarea class="form-control" id="textHistory" maxlength="500"
                              placeholder="Максимум 500 символов"
                              minlength="10"
                              required><?php echo trim($history->getText()); ?></textarea>
                    <input type="text" id="idHistory" value="<?php echo $history->getId() ?>" hidden>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Изменить</button>
                </div>
            </form>

            <script>
                $('#editHistory').submit(function (e) {
                    e.preventDefault();
                    let xml = new XMLHttpRequest();
                    xml.open('PUT', '/api/history/' + document.getElementById('idHistory').value);
                    let formData = new FormData();
                    formData.append('text', document.getElementById('textHistory').value)
                    xml.onreadystatechange = function () {
                        if (xml.readyState === XMLHttpRequest.DONE && xml.status === 200) {
                            location.reload();
                        }
                    }
                    xml.send("text=" + document.getElementById('textHistory').value);
                });
            </script>
            <?php
        }
        ?>
    </div>
</main>
<style>

</style>

<?php require_once 'footer.phtml'; ?>
</body>
</html>