<footer class="footer mt-auto py-3 fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <ul style="list-style: none" class="col-3">
                <li>Простой блог, разработанный в рамках дисциплины</li>
                <li>
                    <a href="https://bitbucket.org/BigTows/blog/src/master/" target="_blank">
                        Репозиторий проекта</a></li>

            </ul>
            <p style="position: absolute; right: 10px; bottom: 0">
                By @BigTows
            </p>
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: #2A2A2A;
        color: white;
        font-size: 12px;
        padding: 0;
        margin: 0;
    }
</style>
