<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <?php
        /** @var \Blog\Domain\User $user */
        if (isset($user)) {
            ?>
            <div class="navbar-nav" style="">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <p style="padding-top: 1rem; margin-right: 5px; color: white"> Привет, <?php echo $user->getName(); ?></p>
                    </li>
                    <li class="nav-item active">
                        <a style="display: block; padding-top: 1rem" href="/logout">Выйти</a>
                    </li>
                </ul>
            </div>
            <?php
        } else {
            ?>
            <form class="form-inline" method="post">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" class="form-control" minlength="4" placeholder="Username" aria-label="Username" name="username"
                           aria-describedby="basic-addon1" required>
                </div>
                <div class="input-group ml-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <svg width="1em" height="1em" viewBox="0 0 16 16"
                             class="bi bi-key" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd"
        d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
  <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
</svg>
                    </span>
                    </div>
                    <input type="password" class="form-control" minlength="4" placeholder="Password" aria-label="Password"
                           name="password" required>

                    <button type="submit" class="btn btn-success ml-3" formaction="/login">Войти</button>
                    <button type="submit" class="btn btn-primary ml-3" formaction="/register">Регистрация</button>
                </div>
            </form>
            <?php
        }
        ?>
    </nav>
</header>