<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
</head>
<body>
<?php require_once 'header.phtml'; ?>
<main class="area" style="margin-bottom: 100px">
    <div class="container" style="padding-top: 60px; z-index: 100">
        <?php
        if (isset($user)) {
            ?>
            <form id="addHistory" method="post" class="mb-5" style="z-index: 100; position: relative">
                <div class="col-12 mb-3">
                    <label for="textHistory" style="color: white">Ваша история</label>
                    <textarea class="form-control" id="textHistory" maxlength="500"
                              placeholder="Максимум 500 символов"
                              minlength="10"
                              required></textarea>
                </div>
                <div class="col-1 offset-10">
                    <button class="btn btn-outline-light" type="submit">Отправить</button>
                </div>
            </form>
            <script>
                $('#addHistory').submit(function (e) {
                    e.preventDefault();
                    let xml = new XMLHttpRequest();
                    xml.open('POST', '/api/history');
                    let formData = new FormData();
                    formData.append('text', document.getElementById('textHistory').value)
                    xml.onreadystatechange = function () {
                        if (xml.readyState === XMLHttpRequest.DONE && xml.status === 200) {
                            let val = JSON.parse(xml.responseText)[0];
                            document.getElementById('textHistory').value = "";
                            containerHistory.insertBefore(createUIHistory(val), containerHistory.firstChild);
                        }
                    }
                    xml.send(formData);
                });
            </script>
            <?php
        }
        ?>
        <div class="row" id="containerHistory">


            <script>
                let currentUser = '<?php
                    /** @var \Blog\Domain\User $user */
                    if (isset($user)) {
                        echo $user->getName();
                    }
                    ?>';
                let isAdmin = <?php
                    if (isset($user) && $user->isAdmin()) {
                        echo 'true';
                    } else {
                        echo 'false';
                    }
                    ?>;

                xhr = new XMLHttpRequest();
                xhr.open('GET', '/api/history');
                let formData = new FormData();
                let containerHistory = document.getElementById('containerHistory')
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                        for (let value of JSON.parse(xhr.responseText)) {
                            containerHistory.appendChild(createUIHistory(value))
                        }
                    }
                }
                xhr.send(formData);

                function createUIHistory(history) {
                    let card = document.createElement("div");
                    card.className = "card mr-2 mb-2 shadow bg-white rounded";

                    let cardBody = document.createElement("div");

                    cardBody.className = "card-body";
                    card.append(cardBody);

                    let cardAuthor = document.createElement("p");
                    cardAuthor.className = "card-subtitle mt-2 text-muted d-flex justify-content-end";
                    cardAuthor.title = "Автор";
                    cardAuthor.style.cursor = "default";
                    cardAuthor.innerText = history.user;

                    let cardText = document.createElement("p");

                    cardText.className = "card-text";
                    cardText.innerText = history.text;
                    cardBody.append(cardText);

                    let deleteButton = document.createElement("a");
                    deleteButton.className = "card-link";

                    deleteButton.innerText = "Удалить";
                    deleteButton.style.cursor = "pointer";
                    deleteButton.onclick = function () {
                        let xhr = new XMLHttpRequest();
                        xhr.open('DELETE', '/api/history/' + history.id);
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                                card.remove();
                            }
                        };
                        xhr.send()
                    }
                    let editButton = document.createElement("a");
                    editButton.className = "card-link";
                    editButton.innerText = "Изменить";
                    editButton.href = "/history/edit/" + history.id

                    if (currentUser === history.user || isAdmin) {
                        cardBody.append(editButton);
                        cardBody.append(deleteButton);
                    }
                    cardBody.append(cardAuthor);
                    return card;
                }
            </script>
        </div>
    </div>
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Exo:400,700');

        body {
            background: #4e54c8;
            background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
            width: 100%;
            height: 100vh;
            z-index: 1;
        }

        .circles {
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            z-index: 7;
        }

        .circles li {
            position: absolute;
            display: block;
            list-style: none;
            width: 20px;
            height: 20px;
            background: rgba(255, 255, 255, 0.2);
            animation: animate 25s linear infinite;
            bottom: -150px;
            z-index: 7;
        }

        .circles li:nth-child(1) {
            left: 25%;
            width: 80px;
            height: 80px;
            animation-delay: 0s;
        }


        .circles li:nth-child(2) {
            left: 10%;
            width: 20px;
            height: 20px;
            animation-delay: 2s;
            animation-duration: 12s;
        }

        .circles li:nth-child(3) {
            left: 70%;
            width: 20px;
            height: 20px;
            animation-delay: 4s;
        }

        .circles li:nth-child(4) {
            left: 40%;
            width: 60px;
            height: 60px;
            animation-delay: 0s;
            animation-duration: 18s;
        }

        .circles li:nth-child(5) {
            left: 65%;
            width: 20px;
            height: 20px;
            animation-delay: 0s;
        }

        .circles li:nth-child(6) {
            left: 75%;
            width: 110px;
            height: 110px;
            animation-delay: 3s;
        }

        .circles li:nth-child(7) {
            left: 35%;
            width: 150px;
            height: 150px;
            animation-delay: 7s;
        }

        .circles li:nth-child(8) {
            left: 50%;
            width: 25px;
            height: 25px;
            animation-delay: 15s;
            animation-duration: 45s;
        }

        .circles li:nth-child(9) {
            left: 20%;
            width: 15px;
            height: 15px;
            animation-delay: 2s;
            animation-duration: 35s;
        }

        .circles li:nth-child(10) {
            left: 85%;
            width: 150px;
            height: 150px;
            animation-delay: 0s;
            animation-duration: 11s;
        }


        @keyframes animate {

            0% {
                transform: translateY(0) rotate(0deg);
                opacity: 1;
                border-radius: 0;
            }

            100% {
                transform: translateY(-1000px) rotate(720deg);
                opacity: 0;
                border-radius: 50%;
            }

        }
    </style>
</main>
<style>
    .card {
        transition: all .3s ease;
        max-width: 400px;
    }
</style>


<?php require_once 'footer.phtml'; ?>
</body>
</html>